* {
    /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
.developer {
  background-image: url("../assets/star-wars-spaceship.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  /* height: 100vh; */
  overflow: hidden;
  text-align: start;
  position: relative;
  cursor: cell;
}

.developerOve {
  position: absolute;
  padding: 5rem 0 0 0;
  background: rgba(25, 24, 24, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 20px;
  z-index: 2;
  color: #fff;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

.h {

  font-size: 3rem;
}

.h-2 {
  font-size: 2.5rem;

}

.p {
    font-size: 2rem;
  padding: 0;
  margin: 0;
}
.text-wrapper{
    font-size: 1rem;
    color: rgb(192, 194, 195);
}
.p-2 {

    font-size: 1rem;
}

@media (min-width: 1200px) {
.h {

  font-size: 5rem;
}

.h-2 {
  font-size: 3rem;

}

.p {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
}

.p-2 {

  font-size: 2rem;
}
}